# this config to be created by hand and put in the "BG" folder of your project. 
# filename to match image name
# assumes your image has sorted palettes by groups (must be done manually or with a separate tool)
{
  palette_entries => 254, # number of unique colors in your palette (not 0 indexed) - update to be auto-counted
  palette_groups => 3,  # number of palette groups (not 0 indexed), put as 0 if no palette groups defined
  palette_group => [
  # for each palette group: index (default), range.lower (palette index), range.upper (palette index), hue, sat, lum
	# leave blank if palette_groups == 0
	[  0,  35, {hue => 43, sat => 233, lum => 127}], # CENTER
	[ 36, 253, {hue =>  0, sat => 235, lum => 117}], # PETALS
	[254, 254, {hue => 64, sat => 0, lum => 0}], # STEM
	#
  ],
  image => {
    normal_map => 1,
    transparent_index => 255, # 0 indexed
    # if no palette groups are defined, define colors here
    hue => 0, # initial hue - only used for normal map
    sat => 255, # initial saturation - only used for normal map
    lum => 127,  # initial luminance - only used for normal map
    layer => 'SPRITE', # types: NBG0-3, RBG0, RBGA/RBGB, SPRITE
    x_pos => '0.0',
    y_pos => '0.0',
    x_scale => '1.0',
    y_scale => '1.0',
    x_scroll => '0.0',
    y_scroll => '0.0',
  },
}