# this config to be created by hand and put in the "BG" folder of your project. 
# filename to match image name
# assumes your image has sorted palettes by groups (must be done manually or with a separate tool)
{
  palette_entries => 256, # number of unique colors in your palette (not 0 indexed)
  palette_groups => 0,  # number of palette groups (not 0 indexed), put as 0 if no palette groups defined
  palette_group => [
  # for each palette group: index (default), range.lower (palette index), range.upper (palette index)
	# leave blank if palette_groups == 0
	#
  ],
  image => {
    normal_map => 1,
    transparent_index => 255, # 0 indexed
    hue => 33, # initial hue - only used for normal map
    sat => 127, # initial saturation - only used for normal map
    lum => 0,  # initial luminance - only used for normal map
    # NBG/RBG settings
    layer => 'RBGA', # types: NBG0-3, RBG0, RBGA/RBGB, SPRITE
    x_pos => '0.0',
    y_pos => '0.0',
    x_scale => '1.0',
    y_scale => '1.0',
    x_scroll => '0.0',
    y_scroll => '0.0',
  },
}